<p id="notice"><%= notice %></p>

<p>
  <b>Dr amt:</b>
  <%= @money_receipt.dr_amt %>
</p>


<%= link_to 'Edit', edit_money_receipt_path(@money_receipt) %> |
<%= link_to 'Back', money_receipts_path %>
